name: HOAS Add-On Kinder Eltern System
version: 0.1.0
slug: hoas
description: KES-Core
arch:
  - amd64
  - aarch64
  - armv7
  - armhf
  - i386
startup: application
boot: auto
host_network: true
ports:
  8080/tcp: 8080
map:
  - data
options: {}
schema: {}
